<!DOCTYPE HTML>
<!-- HTML page that will show the information -->
<html lang="">
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href=""/>
</head>
<body>
<h1>{{title}}</h1>
<h3>Name: {{name}}</h3>
<h3>Nationality: {{nationality}}</h3>
<h3>Biggest Dream: {{bigDream}}</h3>

</body>
</html>